@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "./normalize.scss";
@import "./index.css";

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(32, 36, 39, 0.1);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(32, 36, 39, 0.3);
}
